body{
	background: #dcdcdc;
	margin: 0;
	padding: 0;
	font-family: Verdana;
	font-size: 0.9em;
	line-height: 1.5em;
}

#main{
	width: 1000px;
	margin: 0 auto;
}

#head{
	height: 100px;
	background: #0b577a;
	color: #fff;
}

#head h1{
	margin: 0;
	padding: 5px 15px 0;
	font-family: Times New Roman;
	font-size: 1.3em;
}

#head h2{
	margin: 0;
	padding: 0px 100px;
	font-family: Times New Roman;
	font-size: 1.4em;
}

#head h3{
	margin: 0;
	text-align: center;
	font-family: Times New Roman;
	font-size: 1.3em;
}

#head h4{
	margin: 0;
	text-align: center;
	font-family: Times New Roman;
	font-size: 1.3em;
}


#menuTop{
	height: 35px;
	background: #036ea0;
	color: white;
}

#menuTop ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#menuTop ul li a{
	float: left;
	text-decoration: none;
	color: white;
	padding: 7px 10.5px;
	font-weight: bold;
}

#menuTop ul li a:hover{
	color: #fff000;
	background: #146834;
}

#mainContent{
	float: right;
	width: 100%;
}

#content{
	margin-right: 300px;
}

#noidung{
	padding: 15px;
	text-align: left;	
}

#menuRight{
	margin: 0;
	padding: 15px 5px;
	line-height: 1.8em;
	text-align: left;
}

#menuRight ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#menuRight ul li{
	padding: 3px;
	margin-left: 10px;
}

#menuRight ul li a{
	text-decoration: none;
	font-weight: bold;
	color: #044e63;
}

#menuRight ul li a:hover{
	color: #631404;
	text-decoration: underline;
}

#right{
	width: 28%;
	float: right;
	margin-right:-100%;
}

.format{
	width: 97%;
	background: #eef8fb;
	margin: 10px auto;
	border-radius: 7px;
	box-shadow: 2px 2px 20px #0a4657;
}

.format h1{
	margin: 0;
	padding: 5px 15px;
	font-size: 1em;
	background: #16708a;
	color:  #fff000;

}

#footer{
	clear: both;
	background: #144d68;
	color: white;
	padding: 20px;
}



